body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: black;
}
body {
    transition: background-color 1s ease;
}
header, footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1000px;
    background: white;
    padding: 2.5vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 1000;
}
header {
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    bottom: 10px;

}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
nav a.active {
    font-weight: bold;
    color: darkblue;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}
#personal-info img {
    border-radius: 50%;
    border: 10px solid transparent;
    transition: border-color 1s ease;
}
#personal-info img:hover {
    border-color: darkblue;
}
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}
.menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.menu-overlay nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.menu-overlay nav a {
    margin: 10px 0;
    color: black;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2em;
    color: red;
    cursor: pointer;
}
@media (max-width: 768px) {
    nav {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}